--
-- PostgreSQL database dump
--

-- Dumped from database version 14.3
-- Dumped by pg_dump version 14.3

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: Actor; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public."Actor" (
    "actorId" uuid DEFAULT gen_random_uuid() NOT NULL,
    name text NOT NULL,
    photo text,
    summary text
);


--
-- Name: ActorsInGames; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public."ActorsInGames" (
    "actorId" uuid NOT NULL,
    "gameId" uuid NOT NULL
);


--
-- Name: Developer; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public."Developer" (
    "developerId" uuid DEFAULT gen_random_uuid() NOT NULL,
    name character varying(255) NOT NULL,
    logo text NOT NULL,
    location text NOT NULL,
    summary text NOT NULL,
    country text NOT NULL
);


--
-- Name: Game; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public."Game" (
    "gameId" uuid DEFAULT gen_random_uuid() NOT NULL,
    title character varying(255) NOT NULL,
    cover text NOT NULL,
    summary text NOT NULL,
    "developerId" uuid NOT NULL,
    "publisherId" uuid NOT NULL,
    "releaseDate" timestamp(3) without time zone NOT NULL,
    genres text[],
    images text[],
    banner text NOT NULL,
    trailer text NOT NULL
);


--
-- Name: GamesOnPlatforms; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public."GamesOnPlatforms" (
    "gameId" uuid NOT NULL,
    "platformId" uuid NOT NULL
);


--
-- Name: Platform; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public."Platform" (
    "platformId" uuid DEFAULT gen_random_uuid() NOT NULL,
    name character varying(255) NOT NULL,
    logo text NOT NULL,
    summary text NOT NULL,
    release timestamp(3) without time zone NOT NULL
);


--
-- Name: Publisher; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public."Publisher" (
    "publisherId" uuid DEFAULT gen_random_uuid() NOT NULL,
    name character varying(255) NOT NULL,
    logo text NOT NULL,
    headquarters text NOT NULL,
    summary text NOT NULL,
    country text NOT NULL
);


--
-- Name: _prisma_migrations; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public._prisma_migrations (
    id character varying(36) NOT NULL,
    checksum character varying(64) NOT NULL,
    finished_at timestamp with time zone,
    migration_name character varying(255) NOT NULL,
    logs text,
    rolled_back_at timestamp with time zone,
    started_at timestamp with time zone DEFAULT now() NOT NULL,
    applied_steps_count integer DEFAULT 0 NOT NULL
);


--
-- Data for Name: Actor; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: ActorsInGames; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: Developer; Type: TABLE DATA; Schema: public; Owner: -
--

INSERT INTO public."Developer" VALUES ('c9d4d3f5-3763-4af6-a59a-8c532194ba29', 'Ubisoft Montreal', 'https://upload.wikimedia.org/wikipedia/en/1/13/Ubisoft_Montreal.png', 'Montreal, Quebec', 'Ubisoft Divertissements Inc., doing business as Ubisoft Montreal, is a Canadian video game developer and a studio of Ubisoft based in Montreal.', 'Canada');


--
-- Data for Name: Game; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: GamesOnPlatforms; Type: TABLE DATA; Schema: public; Owner: -
--

INSERT INTO public."GamesOnPlatforms" VALUES ('faf9039c-da03-4c70-b374-a40120e1306c', '00ee480b-2e33-42f9-abd5-611fb8f49efd');
INSERT INTO public."GamesOnPlatforms" VALUES ('faf9039c-da03-4c70-b374-a40120e1306c', 'd55cf737-2425-4d3a-b135-78b4c308850c');
INSERT INTO public."GamesOnPlatforms" VALUES ('faf9039c-da03-4c70-b374-a40120e1306c', 'd1a4c187-aa71-4237-8724-e096d25eee40');


--
-- Data for Name: Platform; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: Publisher; Type: TABLE DATA; Schema: public; Owner: -
--

INSERT INTO public."Publisher" VALUES ('5f03b65f-5fd9-4188-bcc8-d0a54d93b56f', 'Ubisoft', 'https://upload.wikimedia.org/wikipedia/commons/7/78/Ubisoft_logo.svg', 'Montreuil', '<p>Ubisoft Entertainment SA (/╦êju╦Ébis╔Æft, -s╔ö╦Éft/; French: [ybis╔öft]; formerly Ubi Soft Entertainment SA) is a French video game company headquartered in Montreuil with development studios across the world. Its video game franchises include Assassin&#39;s Creed, Far Cry, For Honor, Just Dance, Prince of Persia, Rabbids, Rayman, Tom Clancy&#39;s, and Watch Dogs.</p>
', 'France');


--
-- Data for Name: _prisma_migrations; Type: TABLE DATA; Schema: public; Owner: -
--

INSERT INTO public._prisma_migrations VALUES ('22773001-7aed-4320-b7db-e71d31cf217d', 'd58f65e3d522ec2134fcf6fa259059270e016dc0d1fcd34f85d45fc5856dbdc1', '2022-08-20 14:46:29.122994+02', '20220820124628_init', NULL, NULL, '2022-08-20 14:46:28.36271+02', 1);
INSERT INTO public._prisma_migrations VALUES ('70cb2989-6d09-413e-9d6c-b62dbd3c96f2', '0a5da1c90cd720656a63e2ff726d22164e1e16ebb39b87601ab3f80b675ee902', '2022-08-20 16:12:39.322149+02', '20220820141239_uuid', NULL, NULL, '2022-08-20 16:12:39.288226+02', 1);
INSERT INTO public._prisma_migrations VALUES ('3883ee7d-5d00-4add-969a-f74465d8ec19', '592886dbf84ef0c9b0d18ce21eeec0894ffd78d0c7bcf35795d606e1be7bc59a', '2022-08-20 16:48:02.794135+02', '20220820144802_date', NULL, NULL, '2022-08-20 16:48:02.753312+02', 1);


--
-- Name: Actor Actor_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."Actor"
    ADD CONSTRAINT "Actor_pkey" PRIMARY KEY ("actorId");


--
-- Name: ActorsInGames ActorsInGames_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."ActorsInGames"
    ADD CONSTRAINT "ActorsInGames_pkey" PRIMARY KEY ("actorId", "gameId");


--
-- Name: Developer Developer_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."Developer"
    ADD CONSTRAINT "Developer_pkey" PRIMARY KEY ("developerId");


--
-- Name: Game Game_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."Game"
    ADD CONSTRAINT "Game_pkey" PRIMARY KEY ("gameId");


--
-- Name: GamesOnPlatforms GamesOnPlatforms_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."GamesOnPlatforms"
    ADD CONSTRAINT "GamesOnPlatforms_pkey" PRIMARY KEY ("gameId", "platformId");


--
-- Name: Platform Platform_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."Platform"
    ADD CONSTRAINT "Platform_pkey" PRIMARY KEY ("platformId");


--
-- Name: Publisher Publisher_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."Publisher"
    ADD CONSTRAINT "Publisher_pkey" PRIMARY KEY ("publisherId");


--
-- Name: _prisma_migrations _prisma_migrations_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public._prisma_migrations
    ADD CONSTRAINT _prisma_migrations_pkey PRIMARY KEY (id);


--
-- Name: ActorsInGames ActorsInGames_actorId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."ActorsInGames"
    ADD CONSTRAINT "ActorsInGames_actorId_fkey" FOREIGN KEY ("actorId") REFERENCES public."Actor"("actorId") ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: ActorsInGames ActorsInGames_gameId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."ActorsInGames"
    ADD CONSTRAINT "ActorsInGames_gameId_fkey" FOREIGN KEY ("gameId") REFERENCES public."Game"("gameId") ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: Game Game_developerId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."Game"
    ADD CONSTRAINT "Game_developerId_fkey" FOREIGN KEY ("developerId") REFERENCES public."Developer"("developerId") ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: Game Game_publisherId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."Game"
    ADD CONSTRAINT "Game_publisherId_fkey" FOREIGN KEY ("publisherId") REFERENCES public."Publisher"("publisherId") ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: GamesOnPlatforms GamesOnPlatforms_gameId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."GamesOnPlatforms"
    ADD CONSTRAINT "GamesOnPlatforms_gameId_fkey" FOREIGN KEY ("gameId") REFERENCES public."Game"("gameId") ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: GamesOnPlatforms GamesOnPlatforms_platformId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."GamesOnPlatforms"
    ADD CONSTRAINT "GamesOnPlatforms_platformId_fkey" FOREIGN KEY ("platformId") REFERENCES public."Platform"("platformId") ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- PostgreSQL database dump complete
--

