doctype html
html(lang="en")
    head
        link(rel="icon", href="/cool.png" type="image/png")
        link(rel="stylesheet", href="/index.css", type="text/css")
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Cossie Microservices

    body 
        h1 Microservices
        div By 
            a(href="https://cossie-91.web.app/") Cossie
        hr
        section 
            h2 Who Am I?
            h3 Usage
            p 
                strong GET 
                a(href="/api/whoami") /api/whoami
            p Sample Response:
            p #{whoami}
            hr
        section 
            h2 Timestamp
            h3 Usage
            p 
                strong GET 
                a(href="/api/timestamp") /api/timestamp/[:date?]
            p Sample Response:
            p #{timestamp}
            hr
        section 
            h2 URL Shortener
            h3 Usage
            form(action="/api/url", method="POST")
                input(type="text", name="original", id="original", placeholder="Enter URL")
                button(type="Submit") Submit
            p 
                strong or
            p
                strong POST 
                | {original: [URL]} to 
                a(href="/api/url") /api/url
            p Sample Response: 
            p {"original":"https://www.google.com/","short":"/api/url/1"}
            p 
                strong GET 
                a(href="/api/url/1") /api/url/[:id] 
            p If short URL matches you will be redirected to the original URL. Otherwise error response will be given.
            hr
        section 
            h2 File Metadata
            h3 Usage
            form(action="/api/metadata", method="POST", enctype="multipart/form-data")
                input(type="file", name="file")
                br
                button(type="submit") Submit
            p Sample Response:
            p {"originalname": "server.ts", "encoding": "7bit", "mimetype": "text/plain", "size": 1172}
            hr
        section 
            h2 Quotes As A Service
            h3 Usage 
            p 
                strong GET 
                a(href="/api/quotes") /api/quotes/?limit=[number]
            p Sample Response: 
            p #{quotes}
            hr
        section 
            h2 Exercise Tracker
            h3 Usage 
            #exercises
                .formdiv
                    form.formColumn(action="/api/exercisetracker", method="POST")
                        h4 Create New User
                        input(type="text", name="username", placeholder="username", id="username")
                        button(type="submit") Submit
                    p
                        strong Or
                    p
                        strong POST 
                    p {username: [username]} to 
                        a(href="/api/exercisetracker") /api/exercisetracker
                    p Sample Response: 
                    p {"username":"Test","_id":"62828d38e5ede7b486be86d2"}
                .formdiv
                    form#exerciseForm.formColumn(method="POST")
                        h4 Add Exercises
                        input#exId(type="text", name="_id", placeholder="_id", required)
                        input(type="text", name="description", placeholder="description", required)
                        input(type="number", name="duration", placeholder="duration", required)
                        input(type="text", name="date", placeholder="date")
                        button(type="submit") Submit
                    p 
                        strong Or
                    p
                        strong POST
                    p {description: [description], duration: [duration], date: [date]} to 
                        a(href="/api/exercisetracker/[_id)]/logs") /api/exercisetracker/[_id)]/logs
                    p Sample Response: 
                    p {_id: "6282a7b071c1f6f026cba926", username: "Test", date: "Mon May 16 2022", description: "Run"}
            p 
                strong GET  
                a(href="/api/exercisetracker/[_id]/logs") /api/exercisetracker/[_id)]/logs?to=[date]&from=[date]&limit=[number]
            p Sample Response: 
            p {_id: "6282a7b071c1f6f026cba926",count: 1,username: "Test", log: [{description: "Run", duration: 15, date: "Mon May 16 2022" }]}
            hr
        section 
            h2 Metric / Imperial Converter
            h3 Usage 
            form#convertForm(action="/api/converter", method="GET") 
                input(type="text", placeholder="1000mi", name="input")
                button(type="submit") Submit
            p 
                strong GET 
                a(href="/api/converter?input=1000mi") /api/converter?input=[input]
            p Supported units: km, mi, L, gal, kg, lbs
            p Sample Response: 
            p {initNum:  4.5,initUnit: "mi", returnNum: 7.24203, returnUnit: "km", string: "4.5 miles converts to 7.24203 kilometers"}
            hr
        section#translateSection
            h2 Britsh / American translator
            h3 Usage
            #translateDiv
                form.formColumn#translateForm
                    textarea#text(cols="30", rows="10", placeholder="lorry bank holiday 1.15", name="text", required) 
                    select#locale(name="locale") 
                        option(value="british-to-american") British To American
                        option(value="american-to-british") American To British
                    button(type="submit") Submit
                #translateResult
            p   
                strong Or
            p
                strong POST 
                | {text: [text to be translated], locale: [american-to-british or british-to-american]} to 
                a(href="/api/translate") /api/translate 
            p Sample Response:
            p {"text":"lorry bank holiday 1.15","translation":"<span class=\"highlight\">truck</span> <span class=\"highlight\">public holiday</span> <span class=\"highlight\">1:15</span>"}
        hr

        section 
            h2 Issue Tracker
            h3 Usage 
            p
                strong POST 
                | to /api/issues/[project name]
            p {"issue_title": [Title], "issue_text": [Text], "created_by": [Creator], "assigned_to": [Person], "status_text": [Text]}
            p Sample Response
            p {"assigned_to": "", "status_text": "", "open": true, "_id": "6284f37c2c779f0ac10abc74", "issue_title": "Title", "issue_text": "Text", "created_by": "Creator", "created_on": "2022-05-18T13:24:12.040Z", "updated_on": "2022-05-18T13:24:12.040Z"}
            p
                strong PUT 
                | to /api/issues/[project name]
            p {"_id": [_id], "open": [true or false], "issue_title": [Title], "issue_text": [Text], "created_by": [Creator], "assigned_to": [Person], "status_text": [Text]}
            p Sample Response:
            p {"result": "successfully updated", "_id": "6284f37c2c779f0ac10abc74"}
            p
                strong DELETE 
                | to /api/issues/[project name]
            p {"_id": [_id]}
            p Sample Response: 
            p {"result": "successfully deleted", "_id": "6284f37c2c779f0ac10abc74"}
            p 
                strong GET 
                | &nbsp;
                a(href="/api/issues/apitest") /api/issues/[project name]?created_by=[creator]&assigned_to=[person]&open=[boolean]
            p Sample Response: 
            p [{ _id: "62784f665278ae0f119a0bf0", issue_title: "Issue 2", issue_text: "2nd test", created_by: "Johnny Doe", assigned_to: "", status_text: "", created_on: "2022-05-08T23:16:54.368Z", updated_on: "2022-05-08T23:16:54.368Z", open: true, __v: 0 }, { _id: "627850012bb2db2dd9248e99", issue_title: "Issue 1", issue_text: "1st test", created_by: "John Doe", assigned_to: "Jonathan Doe", status_text: "Status Msg", created_on: "2022-05-08T23:19:29.747Z", updated_on: "2022-05-08T23:19:29.747Z", open: true, __v: 0 }]
        hr



        footer  &copy;  
            a(href="https://cossie-91.web.app/") Cossie

        script(src="/index.js") 


        
        