doctype html
html(lang="en")
    head
        link(rel="icon", href="/cool.png" type="image/png")
        link(rel="stylesheet", href="/index.css", type="text/css")
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Cossie Microservices

    body 
        h1 Microservices
        div By 
            a(href="https://cossie-91.web.app/") Cossie
        hr
        section 
            h2 Who Am I?
            h3 Usage
            p GET 
                a(href="/api/whoami") /api/whoami
            p Sample Response:
            p #{whoami}
            hr
        section 
            h2 Timestamp
            h3 Usage
            p GET 
                a(href="/api/timestamp") /api/timestamp/[:date?]
            p Sample Response:
            p #{timestamp}
            hr
        section 
            h2 URL Shortener
            h3 Usage
            form(action="/api/url", method="POST")
                input(type="text", name="original", id="original", placeholder="Enter URL")
                button(type="Submit") Submit
            p 
                strong or
            p POST {original: [URL]} to 
                a(href="/api/url") /api/url
            p Sample Response: 
            p {"original":"https://www.google.com/","short":"/api/url/1"}
            p GET 
                a(href="/api/url/1") /api/url/[:id] 
            p If short URL matches you will be redirected to the original URL. Otherwise error response will be given.
            hr
        section 
            h2 File Metadata
            h3 Usage
            form(action="/api/metadata", method="POST", enctype="multipart/form-data")
                input(type="file", name="file")
                br
                button(type="submit") Submit
            p Sample Response:
            p {"originalname":"server.ts","encoding":"7bit","mimetype":"text/plain","size":1172}
            hr
        section 
            h2 Quotes As A Service
            h3 Usage 
            p GET 
                a(href="/api/quotes") /api/quotes/?limit=[number]
            p Sample Response: 
            p #{quotes}
            hr
            


        footer  &copy;  
            a(href="https://cossie-91.web.app/") Cossie


        
        