<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="/index.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cossie Microservices</title>
</head>
<body>
    <h1>Microservices</h1>
    <hr/>
    <section>
        <h2>Who Am I?</h2>
        <h3>Usage</h3>
            <p><a href="/api/whoami">/api/whoami</a> <br></p>
            <p>Sample Response: <br></p>
            <p></p>
    </section>
</body>
</html>