:root {
    font-size: 16px;
}

body {
    background-color: #222;
    color: #ddd;
    font-family: monospace;
}

body * {
    text-align: center;
}

a {
    color: #ddd
}

footer {
    font-size: large;
}
#exercises {
    display: flex;
    justify-content: space-around;
}
.formdiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
}
.formdiv form {
    display: flex;
    flex-direction: column;
    width: 100%;
}
.formdiv form input {
    margin-top: 0.5rem;
}
input {
    height: 2rem;
}
button {
    height: 2rem;
    background-color: teal;
    color: white
}